# Quiz

> tmdb_5000_movies에서 overview를 이용하여 추천 시스템을 구축하시오
1. 파일 읽기
2. 전처리
3. 데이터 가공
4. 유사도 분석

## 1. 파일 읽기

In [11]:
import pandas as pd

movies = pd.read_csv('data/tmdb_5000_movies.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [12]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

> 위의 정보 중 사용할 정보를 추린다.
* genres, id, keywords, overview,popularity, title, vote_average, vote_count

> 현재 진행해야 할 정보는 overview 정보로 추천 시스템을 만들려고 한다. 하지만 overview에 3개의 결측치가 발생하여 이를 제거해야 한다.

In [13]:
df_movies_back = movies.copy(deep=True)
df_movies_back = df_movies_back[['genres', 'id', 'keywords', 'overview', 'popularity', 'title', 'vote_average', 'vote_count']]
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4800 non-null   object
 1   id            4800 non-null   int64
 2   keywords      4800 non-null   object
 3   overview      4800 non-null   object
 4   popularity    4800 non-null   float64
 5   title         4800 non-null   object
 6   vote_average  4800 non-null   float64
 7   vote_count    4800 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 337.5+ KB

## 2. 데이터 전처리

In [16]:
df_movies_back = df_movies_back.dropna()
df_movies_back.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4800 non-null   object
 1   id            4800 non-null   int64
 2   keywords      4800 non-null   object
 3   overview      4800 non-null   object
 4   popularity    4800 non-null   float64
 5   title         4800 non-null   object
 6   vote_average  4800 non-null   float64
 7   vote_count    4800 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 337.5+ KB

>필요한 정보만 추리고 결측치는 제거한다.

> 정상적으로는 형태소 분석을 통해 명사만 추출하여 사용하는 것이 맞지만 간단하게 replace를 통해 불필요한 단어들을 제거해 보자

In [18]:
df_movies_back['overview'] = df_movies_back['overview'].apply(lambda x: x.lower())
df_movies_back['overview'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [19]:
df_movies_back.reset_index(drop=True, inplace=True)

In [20]:
df_movies_back.iloc[-1]

genres                        [{"id": 99, "name": "Documentary"}]
id                                                          25975
keywords        [{"id": 1523, "name": "obsession"}, {"id": 224...
overview        ever since the second grade when he first saw ...
popularity                                               1.929883
title                                           My Date with Drew
vote_average                                                  6.3
vote_count                                                     16
Name: 4799, dtype: object

## 3. 데이터 count

>overview는 특정 키워드만 들어 있는 것이 아니고 설명을 위한 문장들이 들어 있다.
* In the 22nd century, a paraplegic Marine is di...

> 첫 번째 영화는 위와 같은 overview가 작성되어 있으며 여기서 in, the, a, is 이러한 단어는 의미없는 단어 이므로 배제되어야 한다. 따라서 기존에 사용했던 빈도수를 구하는 countvectorizer가 아닌 가중치를 이용한 tfidf를 이용해야 한다.

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(stop_words='english', ngram_range=(1,2))
overview_matrix = vect.fit_transform(df_movies_back['overview'])

In [22]:
sorted(vect.vocabulary_)

['00',
 '00 agent',
 '00 middle',
 '000',
 '000 000',
 '000 50',
 '000 acre',
 '000 australia',
 '000 boys',
 '000 buried',
 '000 dm',
 '000 dream',
 '000 fathoms',
 '000 feet',
 '000 film',
 '000 foot',
 '000 greeks',
 '000 head',
 '000 hits',
 '000 intending',
 '000 investor',
 '000 jobs',
 '000 john',
 '000 light',
 '000 machine',
 '000 miles',
 '000 money',
 '000 people',
 '000 prize',
 '000 residents',
 '000 sam',
 '000 savings',
 '000 score',
 '000 ships',
 '000 slaves',
 '000 spend',
 '000 stolen',
 '000 stranded',
 '000 usd',
 '000 went',
 '000 year',
 '000 years',
 '007',
 '007 battles',
 '007 engraved',
 '007 evil',
 '007 fights',
 '007 sean',
 '007 second',
 '007 suspicious',
 '007 takes',
 '007 time',
 '07am',
 '07am girls',
 '10',
 '10 191',
 '10 children',
 '10 countries',
 '10 days',
 '10 led',
 '10 messages',
 '10 million',
 '10 mission',
 '10 round',
 '10 second',
 '10 tasked',
 '10 year',
 '10 years',
 '10 yuma',
 '100',
 '100 000',
 '100 company',
 '100 innocent',
 '100 million',
 '100 pounds',
 '100 years',
 '1000',
 '1000 corpses',
 '1000 started',
 '101',
 '101 year',
 '108',
 '108 year',
 '10th',
 '10th 1912',
 '10th anniversary',
 '10th battalion',
 '10th birthday',
 '10th year',
 '11',
 '11 00',
 '11 000',
 '11 11',
 '11 14pm',
 '11 2013',
 '11 attack',
 '11 attacks',
 '11 bush',
 '11 children',
 '11 crashed',
 '11 escapes',
 '11 inches',
 '11 li',
 '11 rizwan',
 '11 terrorist',
 '11 turkish',
 '11 year',
 '11 years',
 '114',
 '114 robot',
 '117',
 '117 quintus',
 '118',
 '118 precinct',
 '119',
 '119 flying',
 '119 fortunately',
 '11th',
 '11th 2001',
 '11th birthday',
 '11th century',
 '12',
 '12 14',
 '12 children',
 '12 consecutive',
 '12 foot',
 '12 ghosts',
 '12 hour',
 '12 hours',
 '12 katniss',
 '12 killing',
 '12 parents',
 '12 sharp',
 '12 teenagers',
 '12 witnessed',
 '12 year',
 '12 years',
 '1200',
 '1200 inmates',
 '1200 queen',
 '1215',
 '1215 rebel',
 '1250',
 '1250 late',
 '125th',
 '125th street',
 '12th',
 '12th banned',
 '12th century',
 '12th grade',
 '13',
 '13 14',
 '13 2003',
 '13 civilians',
 '13 lunar',
 '13 miserable',
 '13 physically',
 '13 risk',
 '13 spending',
 '13 year',
 '13 years',
 '1300',
 '1300 battle',
 '13th',
 '13th jason',
 '14',
 '14 000',
 '14 days',
 '14 film',
 '14 foot',
 '14 hour',
 '14 november',
 '14 son',
 '14 sweet',
 '14 world',
 '14 year',
 '140',
 '140 souls',
 '1408',
 '1408 dolphin',
 '142',
 '142 file',
 '1429',
 '1429 teenage',
 '148',
 '148 000',
 '14pm',
 '14pm story',
 '14th',
 '14th century',
 '15',
 '15 1965',
 '15 annually',
 '15 august',
 '15 father',
 '15 feet',
 '15 mile',
 '15 million',
 '15 reign',
 '15 rockets',
 '15 winning',
 '15 year',
 '15 years',
 '150',
 '150 million',
 '150 serial',
 '150 service',
 '150 years',
 '150th',
 '150th anniversary',
 '1520s',
 '1520s spanish',
 '1536',
 '1536 fight',
 '15th',
 '15th 1912',
 '15th anniversary',
 '15th birthday',
 '15th century',
 '16',
 '16 2001',
 '16 july',
 '16 lives',
 '16 successful',
 '16 taken',
 '16 year',
 '16 years',
 '1600s',
 '1600s story',
 '161',
 '161 prison',
 '1630s',
 '1630s william',
 '1644',
 '1644 1911',
 '1681',
 '1681 red',
 '1691',
 '1691 witch',
 '16th',
 '16th birthday',
 '16th century',
 '16th president',
 '17',
 '17 18',
 '17 ans',
 '17 enters',
 '17 hours',
 '17 manned',
 '17 responds',
 '17 year',
 '17 years',
 '170',
 '170 000',
 '1700s',
 '1700s rob',
 '173rd',
 '173rd airborne',
 '1748',
 '1748 john',
 '1776',
 '1776 depicts',
 '17th',
 '17th 20th',
 '17th century',
 '18',
 '18 29',
 '18 attractive',
 '18 examines',
 '18 jess',
 '18 month',
 '18 months',
 '18 stories',
 '18 true',
 '18 willing',
 '18 year',
 '18 years',
 '180',
 '180 death',
 '1800',
 '1800 infamous',
 '1800 mile',
 '1800 unwittingly',
 '1818',
 '1818 high',
 '1820',
 '1820 new',
 '1820s',
 '1820s frontiersman',
 '1824',
 '1824 beethoven',
 '1831',
 '1831 free',
 '1834',
 '1834 prompts',
 '1836',
 '1836 standoff',
 '1838',
 '1838 british',
 '1839',
 '1839 slave',
 '1841',
 '1841 young',
 '1845',
 '1845 drama',
 '1850',
 '1850 isolated',
 '1850s',
 '1850s appalachia',
 '1850s england',
 '1856',
 '1856 slave',
 '1856 whilst',
 '1857',
 '1857 group',
 '1860',
 '1860 anna',
 '1862',
 '1862 thousand',
 '1863',
 '1863 america',
 '1863 confederacy',
 '1863 greatest',
 '1863 mississippi',
 '1870s',
 '1870s texas',
 '1875',
 '1875 follows',
 '1876',
 '1876 pennsylvania',
 '1879',
 '1879 gunfighters',
 '1880s',
 '1880s movie',
 '1882',
 '1882 joseph',
 '1885',
 '1885 time',
 '1889',
 '1889 1971',
 '1890',
 '1890 bible',
 '1890 dawn',
 '1890 story',
 '1890 unsettled',
 '1890s',
 '1890s england',
 '1890s wyoming',
 '18th',
 '18th birthday',
 '18th century',
 '18th dynasty',
 '18th wedding',
 '19',
 '19 leaked',
 '19 ultimately',
 '19 year',
 '19 years',
 '1900',
 '1900 boxer',
 '1900 open',
 '1900s',
 '1900s obsessed',
 '1900s usa',
 '1903',
 '1903 guerilla',
 '1905',
 '1905 revolutionist',
 '191',
 '191 world',
 '1910',
 '1910 chicago',
 '1910 emile',
 '1910 far',
 '1910 novel',
 '1910s',
 '1910s new',
 '1911',
 '1911 story',
 '1912',
 '1912 20',
 '1912 ship',
 '1914',
 '1914 winnie',
 '1914 world',
 '1915',
 '1917',
 '1917 stella',
 '1918',
 '1918 wheat',
 '1919',
 '1919 australian',
 '1919 mathilde',
 '1920',
 '1920 indian',
 '1920 irish',
 '1920 new',
 '1920 retirement',
 '1920 vienna',
 '1920s',
 '1920s chicago',
 '1920s midwest',
 '1920s oldest',
 '1920s vilified',
 '1921',
 '1921 england',
 '1922',
 '1922 film',
 '1924',
 '1924 summer',
 '1925',
 '1925 danish',
 '1925 gabriela',
 '1926',
 '1926 1929',
 '1927',
 '1927 1947',
 '1927 hollywood',
 '1927 silent',
 '1927 worldwide',
 '1928',
 '1929',
 '1929 touched',
 '1930',
 '1930 comic',
 '1930 intricate',
 '1930s',
 '1930s details',
 '1930s english',
 '1930s escaped',
 '1930s london',
 '1930s manchuria',
 '1930s new',
 '1930s paris',
 '1930s scrupulously',
 '1930s setting',
 '1930s shanghai',
 '1930s tennessee',
 '1930s usa',
 '1930s works',
 '1930s young',
 '1931',
 '1931 aboriginal',
 '1932',
 '1932 showing',
 '1933',
 '1933 leaving',
 '1933 new',
 '1933 san',
 '1934',
 '1936',
 '1936 olympics',
 '1937',
 '1937 height',
 '1937 posing',
 '1937 teenager',
 '1939',
 '1939 richard',
 '1939 secret',
 '1939 world',
 '1940',
 '1940 effectively',
 '1940 france',
 '1940 world',
 '1940s',
 '1940s american',
 '1940s double',
 '1940s los',
 '1940s richard',
 '1940s story',
 '1940s working',
 '1941',
 '1941 cynical',
 '1941 hawaii',
 '1941 movie',
 '1941 united',
 '1942',
 '1942 parents',
 '1942 year',
 '1943',
 '1943 44',
 '1944',
 '1944 1945',
 '1944 coming',
 '1944 german',
 '1944 gestapo',
 '1944 kill',
 '1944 perspectives',
 '1944 poland',
 '1945',
 '1945 1955',
 '1945 allies',
 '1945 germany',
 '1945 story',
 '1945 western',
 '1946',
 '1946 movie',
 '1946 novelist',
 '1947',
 '1947 borderlines',
 '1947 german',
 '1947 time',
 '1949',
 '1949 life',
 '1949 ruthless',
 '1949 young',
 '1950',
 '1950 invasion',
 '1950 leaves',
 '1950 mother',
 '1950 soccer',
 '1950 south',
 '1950 tries',
 '1950 wealthy',
 '1950s',
 '1950s affair',
 '1950s author',
 '1950s britain',
 '1950s chicago',
 '1950s comedy',
 '1950s connecticut',
 '1950s eva',
 '1950s film',
 '1950s george',
 '1950s ireland',
 '1950s juvenile',
 '1950s michael',
 '1950s new',
 '1950s race',
 '1950s story',
 '1950s struggle',
 '1950s subsequent',
 '1950s use',
 '1950s used',
 '1950s vietnam',
 '1951',
 '1951 blacklisted',
 '1951 marcus',
 '1952',
 '1952 1986',
 '1953',
 '1953 left',
 '1953 science',
 '1954',
 '1954 group',
 '1954 sweet',
 '1955',
 '1955 chronicle',
 '1955 face',
 '1955 inadvertently',
 '1955 lenny',
 '1955 northfork',
 '1955 season',
 '1956',
 '1956 series',
 '1957',
 '1957 giant',
 '1957 whale',
 '1958',
 '1958 formation',
 '1958 new',
 '1959',
 '1959 classic',
 '1959 diner',
 '1959 film',
 '1959 living',
 '1959 new',
 '1959 spends',
 '1960',
 '1960 beach',
 '1960 goes',
 '1960 malibu',
 '1960 rock',
 '1960 suggests',
 '1960 susanna',
 '1960s',
 '1960s america',
 '1960s believes',
 '1960s disproportionate',
 '1960s gifted',
 '1960s hogan',
 '1960s locked',
 '1960s rio',
 '1960s rock',
 '1960s suburban',
 '1960s swaziland',
 '1960s trip',
 '1960s using',
 '1960s wealthy',
 '1962',
 '1962 anna',
 '1962 college',
 '1962 cuban',
 '1962 floating',
 '1962 louisiana',
 '1962 young',
 '1964',
 '1964 band',
 '1964 brash',
 '1964 catholic',
 '1964 novel',
 '1964 rides',
 '1964 tale',
 '1965',
 '1965 goes',
 '1965 los',
 '1965 moonrise',
 '1965 passionate',
 '1965 struggle',
 '1965 young',
 '1966',
 '1966 texas',
 '1967',
 '1967 bloody',
 '1967 day',
 '1967 film',
 '1967 larry',
 '1968',
 '1968 31',
 '1968 lives',
 '1968 strike',
 '1969',
 '1969 orange',
 '1969 preparation',
 '1969 softcore',
 '1969 stonewall',
 '1970',
 '1970 dollars',
 '1970 neil',
 '1970s',
 '1970s attends',
 '1970s chicago',
 '1970s donald',
 '1970s drug',
 '1970s explores',
 '1970s hit',
 '1970s iran',
 '1970s kung',
 '1970s north',
 '1970s runner',
 '1970s san',
 '1970s sci',
 '1970s vanessa',
 '1971',
 '1971 air',
 '1971 decide',
 '1971 gotemba',
 '1971 post',
 '1971 risking',
 '1971 salford',
 '1971 things',
 '1972',
 '1972 ended',
 '1972 gran',
 '1972 members',
 '1972 olympic',
 '1972 returns',
 '1972 seemingly',
 '1973',
 '1973 american',
 '1973 documentary',
 '1973 dying',
 '1973 hoods',
 '1973 martial',
 '1973 suicide',
 '1974',
 '1974 fear',
 '1974 french',
 '1974 horror',
 '1974 maynard',
 '1974 pair',
 '1975',
 '1975 caught',
 '1975 world',
 '1976',
 '1976 aba',
 '1976 centering',
 '1976 formula',
 '1976 lower',
 '1976 thomas',
 '1977',
 '1977 centering',
 '1977 movie',
 '1977 sex',
 '1977 steely',
 '1977 suspenseful',
 '1978',
 '1978 kiss',
 '1978 zombie',
 '1979',
 '1979 controversial',
 '1979 cultural',
 '1979 indian',
 '1979 marji',
 '1979 new',
 '1979 ohio',
 '1980',
 '1980 classic',
 '1980 dance',
 '1980 los',
 '1980 musical',
 '1980 new',
 '1980 united',
 '1980s',
 '1980s college',
 '1980s enemies',
 '1980s era',
 '1980s london',
 '1980s sky',
 '1980s superman',
 '1980s tell',
 '1981',
 '1981 los',
 '1981 statistically',
 '1982',
 '1982 film',
 '1982 lebanon',
 '1983',
 '1983 comes',
 '1984',
 '1984 2004',
 '1984 kill',
 '1984 lawsuit',
 '1984 married',
 '1984 miner',
 '1985',
 '1985 blockbuster',
 '1985 comedy',
 '1985 glory',
 '1985 lazy',
 '1985 mob',
 '1986',
 '1986 connor',
 '1986 diagnosed',
 '1986 friends',
 '1986 unique',
 '1987',
 '1987 1991',
 '1987 claireece',
 '1987 college',
 '1987 young',
 '1988',
 '1988 calgary',
 '1988 evil',
 '1988 proceed',
 '1989',
 '1989 sgt',
 '1990',
 '1990 callous',
 '1990 detective',
 '1990 madness',
 '1990 star',
 '1990s',
 '1990s brooklyn',
 '1990s directed',
 '1990s french',
 '1990s miami',
 '1990s million',
 '1991',
 '1991 confluence',
 '1991 film',
 '1991 martin',
 '1992',
 '1992 abandoned',
 '1992 lithuanian',
 '1992 run',
 '1993',
 '1993 fiza',
 '1993 search',
 '1994',
 '1994 american',
 '1994 blockbuster',
 '1994 novel',
 '1994 riding',
 '1994 student',
 '1995',
 '1995 age',
 '1995 city',
 '1995 rugby',
 '1995 years',
 '1996',
 '1996 american',
 '1996 cannes',
 '1996 electric',
 '1996 kidnapping',
 '1997',
 '1997 american',
 '1997 island',
 '1997 nba',
 '1997 san',
 '1997 visit',
 '1997 world',
 '1998',
 '1998 oscar',
 '1998 unveiling',
 '1999',
 '1999 benching',
 '1999 citizens',
 '1999 documentary',
 '1999 fiza',
 '1999 professional',
 '1999 sierra',
 '1999 small',
 '19th',
 '19th birthday',
 '19th century',
 '1st',
 '1st canadian',
 '20',
 '20 000',
 '20 come',
 '20 dates',
 '20 distinguished',
 '20 gauge',
 '20 lovers',
 '20 million',
 '20 minutes',
 '20 morning',
 '20 nameless',
 '20 trillion',
 '20 year',
 '20 years',
 '200',
 '200 000',
 '200 meter',
 '200 miles',
 '200 million',
 '200 years',
 '2000',
 '2000 film',
 '2000 knight',
 '2000 richard',
 '2001',
 '2001 animated',
 '2001 attacks',
 '2001 exciting',
 '2001 takes',
 '2001 terrorist',
 '2002',
 '2002 comedy',
 '2002 horror',
 '2002 romantic',
 '2002 yellow',
 '2003',
 '2003 11',
 '2003 backgrounds',
 '2003 chief',
 '2003 crossover',
 '2003 drama',
 '2003 harvard',
 '2003 paramount',
 '2004',
 '2004 alien',
 '2004 close',
 '2004 election',
 '2004 exclusive',
 '2005',
 '2005 american',
 '2005 french',
 '2005 mission',
 '2006',
 '2006 cinematographers',
 '2007',
 '2007 american',
 '2007 feature',
 '2007 peaceful',
 '2007 slave',
 '2008',
 '2008 confidential',
 '2008 global',
 '2008 hungered',
 '2008 stands',
 '2009',
 '2009 biopic',
 '2009 critical',
 '2009 film',
 '2009 french',
 '2009 hijacking',
 '2009 iranian',
 '2009 mezzo',
 '2010',
 '2010 features',
 '2010 tragicomical',
 '2010 undercover',
 '2011',
 '2011 2012',
 '2011 tour',
 '2011 young',
 '2012',
 '2012 film',
 '2012 jihadists',
 '2012 let',
 '2012 olympic',
 '2013',
 '2013 chinese',
 '2013 highways',
 '2014',
 '2014 scientists',
 '2015',
 '2015 nip',
 '2016',
 '2016 globe',
 '2016 obama',
 '2017',
 '2017 global',
 '2018',
 '2018 john',
 '2019',
 '2019 blade',
 '2019 lincoln',
 '2019 plague',
 '2020',
 '2020 overcrowding',
 '2025',
 '2025 police',
 '2027',
 '2027 chaotic',
 '2028',
 '2028 multinational',
 '2029',
 '2029 john',
 '2035',
 '2035 robots',
 '2046',
 '2046 sequel',
 '2047',
 '2047 group',
 '2058',
 '2058 grim',
 '2087',
 '2087 setting',
 '20s',
 '20s tasked',
 '20th',
 '20th century',
 '21',
 '21 year',
 '2159',
 '2159 classes',
 '2199',
 '2199 years',
 '21st',
 '21st century',
 '21st successor',
 '22',
 '22 parody',
 '22 year',
 '2257',
 '2257 taxi',
 '22nd',
 '22nd century',
 '23',
 '23 1945',
 '23 horrifying',
 '23 year',
 '24',
 '24 000',
 '24 car',
 '24 gas',
 '24 hour',
 '24 hours',
 '24 year',
 '2455',
 '2455 old',
 '25',
 '25 000',
 '25 year',
 '25 years',
 '250',
 '250 000',
 '250 years',
 '2505',
 '2505 series',
 '250cc',
 '250cc formula',
 '25th',
 '25th high',
 '26',
 '26 year',
 '26 years',
 '27',
 '27 000',
 '27 million',
 '27 year',
 '27th',
 '27th lancers',
 '28',
 '28 2005',
 '28 days',
 '28 year',
 '280',
 '280 million',
 '28th',
 '28th 1999',
 '29',
 '29 plans',
 '29 year',
 '29 years',
 '298',
 '298 red',
 ...]

In [23]:
overview_matrix.shape

(4800, 136949)

## 4. 유사도 분석

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

overview_sim = cosine_similarity(overview_matrix, overview_matrix)
overview_sim[:3]

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.00787352, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.00551187, 0.        ,
        0.        ]])

> 위와 같이 cosine_similarity를 이용하여 유사도를 구할 수 있다. 이를 이용하여 추천 시스템을 만들어 보자

In [25]:
overview_sim_sorted_idx = overview_sim.argsort()[:, ::-1]
overview_sim_sorted_idx[:3]

array([[   0,  634, 3603, ...,    2,    1,  600],
       [   1, 3631, 2542, ...,   46, 4752, 4753],
       [   2, 1343, 3161, ...,   39, 4236,  557]])

In [27]:
df_movies_back.iloc[0]

genres          [{"id": 28, "name": "Action"}, {"id": 12, "nam...
id                                                          19995
keywords        [{"id": 1463, "name": "culture clash"}, {"id":...
overview        in the 22nd century, a paraplegic marine is di...
popularity                                             150.437577
title                                                      Avatar
vote_average                                                  7.2
vote_count                                                  11800
Name: 0, dtype: object

In [28]:
df_movies_back.iloc[634]

genres          [{"id": 28, "name": "Action"}, {"id": 878, "na...
id                                                            603
keywords        [{"id": 83, "name": "saving the world"}, {"id"...
overview        set in the 22nd century, the matrix tells the ...
popularity                                             104.309993
title                                                  The Matrix
vote_average                                                  7.9
vote_count                                                   8907
Name: 634, dtype: object

## 5. 추천

In [29]:
C = df_movies_back['vote_average'].mean()
m = df_movies_back['vote_count'].quantile(0.6)
print('C:', round(C, 3), 'm:', round(m, 3))

C: 6.093 m: 371.0

In [30]:
def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    return (v/(v+m) * R) + (m/(v+m) * C)

In [32]:
df_movies_back['weighted_vote'] = df_movies_back.apply(weighted_vote_average, axis=1)
df_movies_back.head()

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,weighted_vote
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","in the 22nd century, a paraplegic marine is di...",150.437577,Avatar,7.2,11800,7.166254
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","captain barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,6.9,4500,6.838528
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",a cryptic message from bond’s past sends him o...,107.376788,Spectre,6.3,4466,6.284117
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",following the death of district attorney harve...,112.312950,The Dark Knight Rises,7.6,9106,7.541002
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","john carter is a war-weary, former military ca...",43.926995,John Carter,6.1,2124,6.098947

In [35]:
def find_sim_movie(df, sorted_idx, title, top_n=10):
    title_movie = df[df['title'].str.lower().isin([title.lower()])]
    title_idx = title_movie.index.values
    sim_idx = sorted_idx[title_idx, :(top_n)*2]
    sim_idx = sim_idx.reshape(-1)
    sim_idx = sim_idx[sim_idx != title_idx]
    return df.iloc[sim_idx].sort_values('weighted_vote',ascending=False)[:top_n]

In [37]:
find_sim_movie(df_movies_back, overview_sim_sorted_idx, 'avatar')

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,weighted_vote
634,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",603,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...","set in the 22nd century, the matrix tells the ...",104.309993,The Matrix,7.9,8907,7.827740
2966,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",601,"[{""id"": 455, ""name"": ""farewell""}, {""id"": 1007,...",after a gentle alien becomes stranded on earth...,56.105798,E.T. the Extra-Terrestrial,7.3,3269,7.176970
942,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 16, ...",228326,"[{""id"": 128, ""name"": ""love triangle""}, {""id"": ...","the journey of manolo, a young man who is torn...",34.890999,The Book of Life,7.3,755,6.902284
1033,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 9648, ""na...",320,"[{""id"": 703, ""name"": ""detective""}, {""id"": 718,...",two los angeles homicide detectives are dispat...,41.322708,Insomnia,6.8,1148,6.627302
1610,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",50456,"[{""id"": 782, ""name"": ""assassin""}, {""id"": 1430,...",a 16-year-old girl raised by her father to be ...,31.191975,Hanna,6.5,1263,6.407572
529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",9567,"[{""id"": 4595, ""name"": ""u.s. army""}, {""id"": 758...",navy seal lieutenant a.k. waters and his elite...,27.055085,Tears of the Sun,6.4,573,6.279314
570,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",3595,"[{""id"": 800, ""name"": ""bounty""}, {""id"": 1452, ""...","when a rich man's son is kidnapped, he coopera...",16.411345,Ransom,6.4,470,6.264533
2766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",2084,"[{""id"": 293, ""name"": ""female nudity""}, {""id"": ...",a shy bank clerk orders a russian mail order b...,5.831302,Birthday Girl,6.1,103,6.094456
1341,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""nam...",16911,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","on the threshold of 22nd century, furrowing th...",2.785832,The Inhabited Island,5.3,23,6.046630
3723,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",270938,"[{""id"": 1794, ""name"": ""yakuza""}, {""id"": 11399,...","chapman is an ex-marine in brazil's slums, bat...",6.988357,Falcon Rising,5.5,71,5.997674