# Series
  - pandas의 기본 객체 중 하나
  - numpy의 ndarray를 기반으로 **인덱싱 기능**이 추가된 **1차원 배열**을 나타냄 (index x value 의 형태)
  - index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스 생성, 지정할 경우 명시적으로 지정된 index를 사용
  - **같은 타입**의 0개 이상의 데이터를 가질 수 있음

In [1]:
import numpy as np
import pandas as pd

### Series
- 실제로 데이터 분석, 머신러닝 분야에서 Series 단독으로 사용하는 경우는 없다.
- Series의 묶음인 DataFrame에서 파생된 결과로 Series를 사용하는 경우는 있다.
- 실제로 Series를 생성해서 사용하는 경우는 거의 없다.
- 그렇지만 Series를 이해해야 DataFrame도 이해가 되기 때문에 배워야 한다.

### Pandas의 핵심 객체
> Series : 1차원 데이터 + index   
> DataFrame : 2차원 데이터 + (index + column)

## Series 생성 : data로만 생성하기
 - index는 기본적으로 0부터 자동적으로 생성

In [2]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

#### .values .index .dtype

In [3]:
s1.values

array([1, 2, 3])

In [4]:
type(s1.values)

numpy.ndarray

In [5]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
s1.dtype

dtype('int64')

In [7]:
s2 = pd.Series(['a', 'b', 'c'])
s2

0    a
1    b
2    c
dtype: object

In [9]:
np.arange(200).dtype

dtype('int64')

In [10]:
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

In [11]:
s3[4]

4

## Series 생성: data, index 함께 명시하여 생성

##  dtype 명시하여 생성

```
pd.Series(
    data=None,
    index=None,
    dtype:'int',
    name=None,
    copy:
    fastpath ....
)
```

In [12]:
# pd.Series(data, index)
s4 = pd.Series([1,2,3], index=[100, 200, 300])
s4

100    1
200    2
300    3
dtype: int64

## 인덱스 활용

In [13]:
s4.index.values

array([100, 200, 300])

#### 1.인덱스를 통한 데이터 접근

In [17]:
s4[[300, 100]]

300    3
100    1
dtype: int64

### 2. 인덱스를 통한 데이터 업데이트

In [19]:
s4[100] = 4
s4

100    4
200    2
300    3
dtype: int64

In [20]:
s4[400] = 5
s4

100    4
200    2
300    3
400    5
dtype: int64

In [21]:
s4[[200, 300]] = 6, 7
s4

100    4
200    6
300    7
400    5
dtype: int64

### 3. 인덱스 재사용하기

In [23]:
s8 = pd.Series(np.arange(4), s4.index)
s8

100    0
200    1
300    2
400    3
dtype: int64

### Series name, Index name, Index 변경

In [24]:
s6 = pd.Series(np.array(['5000원', '3000원', '5000원']), index=['떡볶이', '김밥', '라면'])
s6

떡볶이    5000원
김밥     3000원
라면     5000원
dtype: object

In [25]:
s6.name = '분식집'
s6

떡볶이    5000원
김밥     3000원
라면     5000원
Name: 분식집, dtype: object

In [27]:
s6.index.name = '메뉴'
s6

메뉴
떡볶이    5000원
김밥     3000원
라면     5000원
Name: 분식집, dtype: object

In [28]:
s6.index = ['순대', '튀김', '만두']
s6

순대    5000원
튀김    3000원
만두    5000원
Name: 분식집, dtype: object